@page "/"

<div class="p-8">
    <button
        type="button"
        class="text-white text-2xl font-semibold hover:underline cursor-pointer">
        Podcasts to make you smarter
    </button>

    <div class="py-1.5"></div>

    <div class="flex items-center">
        <HomeCard ImageUrl="https://picsum.photos/id/30/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard ImageUrl="https://picsum.photos/id/45/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="md:block hidden" ImageUrl="https://picsum.photos/id/65/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="lg:block hidden" ImageUrl="https://picsum.photos/id/67/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="xl:block hidden" ImageUrl="https://picsum.photos/id/100/300/300" Title="Title is here" SubTitle="Subtitle is here" />
    </div>
</div>

<div class="p-8">
    <button
        type="button"
        class="text-white text-2xl font-semibold hover:underline cursor-pointer">
        Recommended podcasts
    </button>

    <div class="py-1.5"></div>

    <div class="flex items-center">
        <HomeCard ImageUrl="https://picsum.photos/id/31/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard ImageUrl="https://picsum.photos/id/41/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="md:block hidden" ImageUrl="https://picsum.photos/id/61/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="lg:block hidden" ImageUrl="https://picsum.photos/id/62/300/300" Title="Title is here" SubTitle="Subtitle is here" />
        <HomeCard class="xl:block hidden" ImageUrl="https://picsum.photos/id/101/300/300" Title="Title is here" SubTitle="Subtitle is here" />
    </div>
</div>