<div class="
    contrast-[2]
    brightness-[0.87]
    rounded-xl
    aspect-square
    relative
    overflow-hidden"
    style="background-color: @backgroundColor;"
    >
    <div class="text-white pt-3 pl-4 font-semibold text-[23px]">
        @Category
    </div>
    <img class="
        absolute
        contrast-[0.55]
        -right-3.5
        bottom-0
        max-w-[100px]
        rotate-[20deg]"

    src=@ImageUrl>
</div>
