<div @attributes="@InputAttributes">
    <li
        class="flex items-center justify-start pb-4 cursor-pointer"
    >
        <img width="25" src="@ImageUrl" />
        <div class="font-semibold text-[14px] ml-4 mt-0.5 text-gray-400 hover:text-white">
            <span class="@NameClassCSS">
                @Name
            </span>
        </div>
    </li>
</div>